
/* smartphones */
@media only screen and (min-device-width: 300px) and (max-device-width: 1023px) and (orientation: landscape) {
.card-container {
  height: 71vh;
  grid-template-columns: repeat(3, 0fr);
}
.card {
	height: 68vh;
	width: 30vw;
}
.modal-container {
  height: 91vh;
  width: 67vw;
}
}

/* iPhone 5/5s/SE */
@media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
.card-container {
  height: 84vh;
}
}
//@media all and (device-width: 568px) and (device-height: 320px) and (orientation: landscape) {}

/* tall smartphones */
@media only screen and (min-device-height: 812px) and (max-device-height: 840px) and (orientation: portrait) {
.card-container {
  height: 89vh;
}
.card {
	height: 24vh;
  width: 43vw;
}
.modal-container {
  height: 65vh;
  width: 85vw;
}
}
@media only screen and (min-device-width: 665px) and (max-device-width: 840px) and (orientation: landscape) {
.card {
	height: 68vh;
	width: 26vw;
}
}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-device-height: 768px) and (max-device-height: 1024px) and (orientation: portrait) {
.card-container {
  height: 89vh;
  grid-template-columns: repeat(3, 0fr);
}
.card {
	height: 28vh;
	width: 30vw;
}
.modal-container {
  height: 91vh;
  width: 67vw;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-device-height: 768px) and (max-device-height: 1024px) and (orientation: landscape) {
.card-container {
	height: 84vh;
	grid-template-columns: repeat(4, 0fr);
}
.card {
	height: 40vh;
	width: 22vw;
}
.modal-container {
  height: 91vh;
  width: 67vw;
}
}

/* iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
.card-container {
	height: 91vh;
	grid-template-columns: repeat(3, 0fr);
}
.card {
	height: 25vh;
	width: 26vw;
}
}
@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) {
.card-container {
	height: 86.5vh;
	grid-template-columns: repeat(4, 0fr);
}
.card {
	height: 37vh;
	width: 22vw;
}
}

/* Desktop */
@media screen and (min-width: 1400px) {
.card-container {
	height: 80vh;
	grid-template-columns: repeat(4, 0fr);
}
.card {
	height: 40vh;
	width: 19vw;
}
}
