
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

$darkgreen: #47A1A9;
$lightgreen: #E3F7F7;
$lightgrey: #F8F8F8;
$white: white;

.exit-btn {
  height: auto;
  width: 2.5rem;
  top: 1vh;
  right: 1vw;
  position: fixed;
  outline: none;
	transform: scale(1);
}

.exit-btn:active {
	transition: all 0.1s ease;
	transform: scale(1.05);
}

.back-btn {
	height: auto;
	width: 1.6rem;
	top: 2.3vh;
  left: 1.5vw;
	position: fixed;
	outline: none;
	transform: scale(1);
}

.back-btn:active {
	transition: all 0.1s ease;
	transform: scale(1.05);
}

.btn-shadow {
	border-radius: 50%;
	transition: all 0.4s ease;
}

.btn-shadow:active {
	background-color: lightgrey;
}
